* {
  font-family: Arial;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
  }


.centered{
    text-align: center;
}


.big-text {
  font-size: 35px;
}

img  {
  display: block;
 }

 .bold {
  font-weight: bold;
}


